# Automatically switch to nvm node version from .nvmrc
export NODE_VERSION_PREFIX=v
export NODE_VERSIONS=~/.nvm/versions/node
use node

# ============================ GENERAL SETTINGS ============================
export ENVIRONMENT=testnet # can be testnet, mainnet, devnet
export LOG_PRETTY=true
export LOG_LEVEL=debug
export APP_NAME=executor

# ============================ KEYS FOR APPS ============================
export PRIVATE_KEY_EXECUTOR=0x*************

# ============================ PRICER ============================
export PRICER_URL='https://api.t1rn.io'

# ============================ AI =============================
export OPENAI_API_KEY=sk-***
export DISABLE_AI_EXECUTOR_AUTORUN=false # True - Disable executor analysis; enable chat
export DISABLE_EXECUTOR_AUTORUN=true # mandatory

source .envrc.local 2>/dev/null || true